/** Generated via `sleepanarchy-api-management print-syntax-css` **/
pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    background-color: #232526;
    color: #465457;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #465457;  padding-left: 4px; }
div.sourceCode
  { color: #f8f8f2; background-color: #1b1d1e; }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span.al { color: #ffffff; font-weight: bold; } /* Alert */
code span.an { color: #a6e22e; } /* Annotation */
code span.at { color: #a6e22e; } /* Attribute */
code span.bn { color: #ae81ff; } /* BaseN */
code span.cf { color: #f92672; font-weight: bold; } /* ControlFlow */
code span.ch { color: #e6db74; } /* Char */
code span.cn { color: #ae81ff; } /* Constant */
code span.co { color: #7e8e91; } /* Comment */
code span.cv { color: #7e8e91; } /* CommentVar */
code span.do { color: #e6db74; } /* Documentation */
code span.dt { color: #66d9ef; } /* DataType */
code span.dv { color: #ae81ff; } /* DecVal */
code span.er { color: #f92672; background-color: #232526; font-weight: bold; } /* Error */
code span.ex { color: #a6e22e; } /* Extension */
code span.fl { color: #ae81ff; } /* Float */
code span.fu { color: #a6e22e; } /* Function */
code span.im { color: #f92672; font-weight: bold; } /* Import */
code span.in { color: #7e8e91; font-weight: bold; } /* Information */
code span.kw { color: #f92672; font-weight: bold; } /* Keyword */
code span.op { color: #f92672; } /* Operator */
code span.pp { color: #c4be89; font-style: italic; } /* Preprocessor */
code span.re { color: #8f8f8f; } /* RegionMarker */
code span.sc { color: #f92672; } /* SpecialChar */
code span.ss { color: #e6db74; } /* SpecialString */
code span.st { color: #e6db74; } /* String */
code span.va { color: #fd971f; } /* Variable */
code span.vs { color: #e6db74; } /* VerbatimString */
code span.wa { color: #ffffff; background-color: #333333; font-weight: bold; } /* Warning */

