/* Variables */
// Colors
$background: #1B1D1E
$near-black: #080800
$near-white: #F8F8F0
$off-white: #C4BE89
$blue-gray: #293739
$light-blue: #7E8E91
$green: #A6E22E
$orange: #FD971F
$magenta: #F92672
//$cyan: #66D9EF
//$deep-blue: #13354A
//$pale-yellow: #E6DB74
//$red: #FF0000

$body-background: $background
$body-text: $near-white

// Breakpoints
$tablet: 480px
$desktop: 720px
$lg-desktop: 1400px

/* Utility Classes */
.text-center
  text-align: center

.hidden
  display: none

/* Element Specifics */
html,
body
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  font-size: 1rem
  font-family: Helvetica, Arial, Sans

body
  background-color: $body-background
  color: $body-text

h1, h2, h3, h4, h5, h6
  color: $magenta

h4, h5, h6
  font-weight: medium

small
  display: block
  font-size: 0.8em

pre
  overflow-x: scroll
  font-size: 0.75rem
  border: 1px solid $light-blue
  border-radius: 5px
  background: $near-black
  padding: 0.5rem 1rem

*:not(pre) > code
  color: $orange
  background-color: $near-black
  padding: 0.05rem 0.15rem
  border-radius: 3px
  font-size: 0.8rem

a, a:visited
  color: $orange
  transition: 0.2s color
  text-decoration: none
  &:hover
    color: lighten($orange, 15%)

/* Page Layout */

div#root
  display: flex
  flex-direction: column
  height: 100%

  // Navigation
  > nav
    color: $near-white
    background-color: $blue-gray
    border-bottom: 1px solid $light-blue

    padding: 0 1rem

    > div
      display: inline-block

    .site-logo
      font-weight: bold
      a, a:visited
        color: $magenta

    a
      display: inline-block
      padding: 1rem 1rem

    ul
      display: inline-flex
      align-items: center
      padding: 0
      margin: 0
      li
        list-style: none
        a, a:visited
          color: $near-white
          font-weight: normal
          transition: 0.3s background-color
          &.active
            background-color: darken($blue-gray, 5%)
          &:active, &:hover
            background-color: lighten($blue-gray, 5%)

  // Footer
  > footer
    border-top: 1px solid $light-blue
    color: $off-white
    background-color: $near-black
    margin-top: 2rem
    > div
      max-width: 90%
      margin: 0 auto

  // Main Content
  > div#main
    margin: 0 auto
    padding: 1rem 0
    width: 100%
    align-self: center
    flex-grow: 1

    max-width: 95%
    @media screen and (min-width: $tablet)
      max-width: 90%
    @media screen and (min-width: $desktop)
      max-width: 85%
    @media screen and (min-width: $lg-desktop)
      max-width: 1250px

/* Admin Page Layout */
.login
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  label
    margin-bottom: 0.75rem
  button
    all: unset
    padding: 0.5rem 1.25rem
    background-color: $magenta
    color: $near-black
    border: 1px solid $near-black
    border-radius: 5px
    cursor: pointer
    transition: 0.2s background-color
    &:hover
      background-color: darken($magenta, 20%)


/* Blog */

div.blog-page
  display: flex
  flex-direction: row
  flex-wrap: wrap
  @media screen and (min-width: $desktop)
    flex-wrap: nowrap

div.blog-sidebar
  font-size: 0.85rem
  padding: 0.75rem
  width: 100%
  @media screen and (min-width: $desktop)
    width: 25%
  ul
    list-style: none
    padding-left: 0
    margin: 0.25rem 0 1rem
    li
      margin-bottom: 0.2rem
  h4
    margin-top: 0.25rem
    margin-bottom: 0.25rem
  h5
    margin: 0.1rem 0
  .blog-tag-list
    display: flex
    flex-wrap: wrap
    align-items: baseline
    justify-content: center
    > .blog-tag
      padding: 0 0.25rem
      > a
        display: inline-block

div.post-list, div.post-details
  width: 100%
  @media screen and (min-width: $desktop)
    width: 75%
    margin-right: 2rem
  div.post-meta
    font-size: 0.85rem
    font-weight: bold
  .post-title
    font-weight: normal
    > a
      color: $green
  .blog-tag-list
    margin-top: 0.5rem
    ul
      list-style: none
      padding: 0 0.5rem 0.5rem
      margin: 0
      display: inline-block
      li
        display: inline-block
        padding: 0 0.5rem


div.post-list
  hr.post-separator
    border-color: $orange
    border-style: dashed
    border-width: 0 0 1px
    margin: 2rem 0

  h2.post-title
    margin-bottom: 0.1rem

  div.post-meta
    color: $magenta

  p.post-description
    margin-bottom: 0.5rem

div.post-details
  h1.post-title
    margin-bottom: 0.5rem

  div.post-meta
    color: $green
    padding-bottom: 1rem
    border-bottom: 1px solid $light-blue
    margin-bottom: 1.5rem


/* Links */

div.link-page
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    th
      text-align: left
      border-bottom: 2px solid $blue-gray
    td
      border-top: 1px solid $blue-gray
    th, td
      padding: 0.5rem 0.5rem 0.25rem
    .category
      background-color: $magenta
      a
        color: $body-text
        &:hover
          color: $body-text
    .clickable
      cursor: pointer
      &:hover
        background-color: lighten($body-background, 7.5%)
      &.category:hover
        background-color: lighten($magenta, 7.5%)
      & a:hover
       text-decoration: none


/* Admin */

.admin-site
  display: flex
  height: 100%
  .admin-content
    flex-grow: 1
    padding: 1rem 1rem 1rem 2rem
  .admin-sidebar
    background-color: $near-black
    padding: 1rem 0
    border-right: 1px solid $near-white
    > h4
      padding: 15vh 1rem 0rem
      margin-bottom: 0
      text-align: center
    > p
      padding: 0.5rem 1rem
      font-size: 0.8rem
      text-align: center
      a
        color: $near-white
        transition: border 0.25s
        border-bottom: 1px solid transparent
        &:hover
          border-bottom: 1px solid $near-white
    > ul.nav-links
      list-style: none
      padding: 0
      li
        border-bottom: 1px solid $magenta
        &:first-of-type
          border-top: 1px solid $magenta
        > a
          display: block
          padding: 0.75rem 1.25rem
          font-weight: bold
          color: $near-white
          transition: background-color 0.25s
          &:hover
            background-color: lighten($body-background, 5%)
          &.active
            background-color: $blue-gray
            &:hover
              background-color: lighten($blue-gray, 5%)

.admin-post-list
  table
    width: calc(100% - 2rem)
    margin: 0 1rem
    border-collapse: collapse
    th
      border-bottom: 2px solid $near-white
    th, td
      text-align: left
    th.date, td.date
      text-align: center
.admin-post-edit, .admin-post-create
  padding: 1rem 3rem
  form
    display: flex
    flex-direction: column
  label
    margin-bottom: 0.75rem
  input
    width: 100%
  textarea
    width: 100%
  select
    width: 100%
  label.inline-input
    display: inline-flex
    > div
      margin-right: 0.75rem
    > select, > input
      margin-right: -0.5rem
